<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jack Watters</title>
</head>

<body>
  <div class="container">
    <div class="nav">
      <h1>Jack Watters Portfolio</h1>
    </div>
    <div class="main-content">
      <div class="sections">
        <div class="section">
          <div class="header">
            <div class="header-title">Notion Inspired</div>
          </div>
          <div class="cards">
            <a href="https://jackwatters45.github.io/todo-list/">
              <div class="card">
                <div class="title">Todo List</div>
              </div>
            </a>
            <a href="https://jackwatters45.github.io/weather-app/">
              <div class="card">
                <div class="title">Weather App</div>
              </div>
            </a>
            <a href="https://jackwatters45.github.io/create-account/">
              <div class="card">
                <div class="title">Create Account Form</div>
              </div>
            </a>
          </div>
        </div>
        <div class="section">
          <div class="header">
            <div class="header-title">Other</div>
          </div>
          <div class="cards">
            <a href="https://jackwatters45.github.io/odp-restaurant-page/">
              <div class="card">
                <div class="title">Restaurant Page</div>
              </div>
            </a>
            <a href="https://jackwatters45.github.io/odp-js-library/">
              <div class="card">
                <div class="title">Book Library</div>
              </div>
            </a>
            <a href="https://jackwatters45.github.io/odp-tic-tac-toe/">
              <div class="card">
                <div class="title">Tic Tac Toe</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 jackwatters45</p><a href="https://github.com/jackwatters45/" target="_blank"><img
          class="github-logo" src="../assets/img/github-logo.svg" alt="Github Logo"></a>
    </div>
  </div>
</body>

</html>